<h1>Account#things</h1>
<p>Find me in app/views/account/things.html.erb</p>

<table border="1">
  <tr>
    <th>name</th>
    <th>price</th>
    <th>amount</th>
    <th>subtotal</th>
    <th>category</th>
  </tr>
  <% @things.each do |thing| %>
    <tr>
      <td>
        <%= thing.name %>
      </td>
      <td>
        ￥<%= thing.price %>
      </td>
      <td>
        <%= thing.amount %>
      </td>
      <td>
        ￥<%= thing.price * thing.amount %>
      </td>
      <td>
        <%= thing.category %>
      </td>
    </tr>
  <% end %>
</table>

<input type="button" onclick="location.href='http://localhost:3000/account/charts'"value="戻る">

